# venv / Python cache
.venv/
__pycache__/
*.pyc
*.pyo

# tools caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.hypothesis/
.coverage
htmlcov/

# editors & OS
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json  # if you want to track just this one
